body{
    color:white;
    background: pink;
}
.heading{
    width: 80%;
    font-size: 22;
}
.object_names{
    width: 60%;
}
#camera,#result{
    border: 2px dashed black;
    width: 350px;
    height: 350px;
}
